.form-control{
    color: beige;
    background-color: black;
    text-align: center;
    margin: 20px;
}
.col{
    padding: 20px;
    margin: 20px;
}
.data{
    background-color:rgba(0, 0, 0, 0.288);
    color:wheat;
    padding: 20px;
}
body{
    background-color: black;
}